<div class="container">
  <div class="head jumbotron">
    <h1 class="header"> Motivational Quotes</h1>
    <p class="header">read to be inspired</p>
  </div>


  <hr>


  <div class="row" id="dis">
    <div class="col-6">

      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

    </div>
    <div class="col-6" id="try">
      <div *ngFor='let quote of Quotes;let i = index'>
        <h3 id="{{i}}" appStrikethrough>{{quote.name}} : {{quote.completeDate|date|lowercase}}</h3>

        <div>
          <a href="#" class="btn btn-sm animated-button thar-one" (click)='toogleDetails(i)'>open to read</a> </div>

        <div *ngIf="quote.showDescription">
          <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteQuote($event,i)'>

          </app-quote-details>

        </div>

      </div>
      <p *ngIf='Quotes.length> 3'> End of uploaded Quotes</p>
    </div>
  </div>
</div>