.container{
    background-color: bisque;
}
.head{
    background-color: gray;
    background: cover;
}
.header{
    text-align: center;
    color: blue;
    background-color: gray
}
#dis{
    background-color: gray;
    padding: 10px;
    text-align: center;
    height: 100%;
}
#try{
    margin-top:10%;
}