.head{
    background-color: gray;
    background: cover;
}
.header{
    text-align: center;
    color: blue;
    background-color: gray
}
#dis{
    background-color: gray;
    margin-left: 17%;
    text-align: center;
}
#try{
    margin-top:10%;
}